<!DOCTYPE HTML>
<html ng-app="carpoNovum">
<head>
    <title>Carponovum Home 郁达门户网</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/carponovum.css"/>
</head>

<body ng-controller="MainCtrl as main">

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="index.html"> Sweden <span translate="index_title_1"></span></a></div>
    <a href="#menu" class="toggle"><span translate="index_menu"></span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li>
            <a class="menu-group" href="/#!/" ng-click="scrollToTop()">主页</a>
            <a class="menu-sub" href="/#!/Home/About" >关于我们</a>
            <a class="menu-sub" href="/#!/Home/Company" >公司目标</a>
            <a class="menu-sub" href="/#!/Home/Management" >管理团队</a>
            <a class="menu-sub" href="/#!/Home/Parnters" >合作伙伴</a>
        </li>
        <li>
            <a class="menu-group" href="/#!/Technology/Surgery">技术与产品介绍</a>
            <a class="menu-sub" href="/#!/Technology/Surgery">外科手术步骤</a>
            <a class="menu-sub" href="/#!/Technology/Product">产品介绍</a>
            <a class="menu-sub" href="/#!/Technology/Quality">质量与法规</a>
        </li>
        <li>
            <a class="menu-group" href="/#!/Company/Board">公司结构</a>
            <a class="menu-sub" href="/#!/Company/Board">董事会成员</a>
            <a class="menu-sub" href="/#!/Company/Organization">组织结构</a>
            <a class="menu-sub" href="/#!/Company/Ownership">公司所有权</a>
        </li>
        <li>
            <a class="menu-group" href="/#!/Clinic/Video">临床实验</a>
            <a class="menu-sub" href="/#!/Clinic/Video">教学视频</a>
        </li>
        <li>
            <a class="menu-group" href="/#!/Contact">联系我们</a>
        </li>


    </ul>
</nav>

<!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->
<section id="banner" ng-hide="">
    <div class="inner main-title-container">
        <div class="main-title">
            <h1>CarpoNovum</h1>
            <h2 class="secondary"> 卡普诺华 </h2>
        </div>

        <p><br/></p>
        <!--a href="https://templated.co/">郁</a> 顺之则 <a href="https://templated.co/license">Creative Commons</a>.</p-->
        <a href="#one" class="button special scrolly" translate="home_button" ng-click="scrollTo('#About')"></a>
    </div>
</section>

<ng-view autoscroll></ng-view>

<!-- Footer -->
<footer id="footer" class="wrapper style3">
    <div class="inner">
        <div class="copyright">
            &copy; <span translate="home_footer_design"></span> <a href="http://yudait.com/" translate="home_footer_company"></a>. <span translate="home_footer_ICP"></span>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-route.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/src/js/dictionary.js"></script>
<script src="assets/src/js/app.js"></script>
<script>
    //var nav_lang = navigator.language;
    var lang = "zh";

    $(document).ready(function () {
        translate(lang);
    });
</script>
</body>
</html>