<!DOCTYPE HTML>
<html ng-app="carpoNovum">
<head>
    <title>Carponovum China 源自瑞典</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/carponovum.css"/>
    <link rel="stylesheet" href="assets/css/video-js.min.css"/>
    <link rel="stylesheet" href="assets/css/videojs-resolution-switcher.css"/>
</head>

<body ng-controller="MainCtrl as main">

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="index.html"> Sweden <span translate="index_title_1"></span></a></div>
    <a href="#menu" class="toggle"><span translate="index_menu"></span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li>
            <a class="menu-group" href="/#!/" ng-click="scrollToTop()" translate="index_nav_1"></a>
            <a class="menu-sub" href="/#!/Home/About" translate="index_nav_2"></a>
            <a class="menu-sub" href="/#!/Home/Company" translate="index_nav_3"></a>
            <a class="menu-sub" href="/#!/Home/Management" translate="index_nav_4"></a>
            <a class="menu-sub" href="/#!/Home/Parnters" translate="index_nav_5"></a>
        </li>
        <li>
            <a class="menu-group" href="/#!/Technology/Technology" translate="index_nav_6"></a>
            <a class="menu-sub" href="/#!/Technology/Product" translate="index_nav_8"></a>
            <a class="menu-sub" href="/#!/Technology/Surgery" translate="index_nav_7"></a>
            <a class="menu-sub" href="/#!/Technology/Quality" translate="index_nav_9"></a>
        </li>
        <li>
            <a class="menu-group" href="/#!/Company/Board" translate="index_nav_10"></a>
            <a class="menu-sub" href="/#!/Company/Board" translate="index_nav_11"></a>
            <a class="menu-sub" href="/#!/Company/Organization" translate="index_nav_12"></a>
        </li>
        <li>
            <a class="menu-group" href="/#!/Clinic/Clinic" translate="index_nav_13"></a>
        </li>
        <li>
            <a class="menu-group" href="/#!/News/News" translate="index_nav_16"></a>
            <a class="menu-group" href="/#!/Contact/Contact" translate="index_nav_15"></a>
        </li>


    </ul>
</nav>

<!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->
<section id="banner">
    <div class="inner main-title-container">
        <div class="main-title">
            <h1>CarpoNovum</h1>
            <h2 class="secondary" class="scrolly"> 卡普诺华 </h2>
        </div>

        <p><br/></p>
        <!--a href="https://templated.co/">郁</a> 顺之则 <a href="https://templated.co/license">Creative Commons</a>.</p-->
        <a class="button special" translate="home_button" ng-click="scrollTo('#About')" ng-show="showBanner"></a>
    </div>
</section>

<ng-view autoscroll></ng-view>

<!-- Footer -->
<footer id="footer" class="wrapper style3">
    <div class="inner">
        <div class="copyright">
            &copy; <span translate="home_footer_design"></span> <a href="http://yudait.com/" translate="home_footer_company"></a>. <span translate="home_footer_ICP"></span>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-route.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/src/js/dictionary.js"></script>
<script src="assets/src/js/app.js"></script>
<script>
    //var nav_lang = navigator.language;
    var lang = "zh";

    $(document).ready(function () {
        translate(lang);
    });
</script>
</body>
</html>