<!-- Clinic -->
<section id="Clinic" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/clinic.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_ClinicalTrails_1"></h2>
                    </header>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_2"></h3>
                    <p translate="home_ClinicalTrails_3"></p>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_4"></h3>
                    <p translate="home_ClinicalTrails_5"></p>

                    <div class="6u 12u$(small)">
                        <div class="image fit">
                            <img src="images/clinical-2010.jpg" alt=""/>
                        </div>
                    </div>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_6"></h3>
                    <p translate="home_ClinicalTrails_7"></p>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_8"></h3>
                    <p translate="home_ClinicalTrails_9"></p>

                    <div class="6u 12u$(small)">
                        <div class="image fit">
                            <img src="images/clinical-2014.jpg" alt=""/>
                        </div>
                    </div>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_10"></h3>
                    <p translate="home_ClinicalTrails_11"></p>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_12"></h3>
                    <p translate="home_ClinicalTrails_13"></p>

                    <div class="6u 12u$(small)">
                        <div class="image fit">
                            <img src="images/clinical-2017.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Video -->
<section id="Video" class="wrapper style3">
    <div class="inner">

        <h2 translate="home_instructional_video"></h2>

        <h3 translate="home_instructional_video_1"></h3>
        <!--div class="content center-align 6u 12u$(small)">
            <video id="video_1" class="video-js vjs-default-skin" poster="images/CREX-RectoAid.jpg" data-setup='{}'
                   preload="none" controls controlsList="nodownload" fluid="true">
                <source src="videos/CREX-RectoAid-240p.mp4" type="video/mp4" label='240P' res="240">
                <source src="videos/CREX-RectoAid-360p.mp4" type="video/mp4" label='360P' res="360">
                <source src="videos/CREX-RectoAid-480p.mp4" type="video/mp4" label='480P' res="480">
                <source src="videos/CREX-RectoAid-720p.mp4" type="video/mp4" label='720P' res="720">
                Your browser does not support the video tag.
            </video>
        </div-->

        <h3 translate="home_instructional_video_2"></h3>
        <div class="content center-align 6u 12u$(small)">
            <video id="video_2" class="video-js vjs-default-skin" poster="images/CREX-FixAid.jpg" data-setup='{}'
                   preload="none" controls controlsList="nodownload" fluid="true">
                <source src="videos/CREX-FixAid-240p.mp4" type="video/mp4" label='240P' res="240">
                <source src="videos/CREX-FixAid-360p.mp4" type="video/mp4" label='360P' res="360">
                <source src="videos/CREX-FixAid-480p.mp4" type="video/mp4" label='480P' res="480">
                <source src="videos/CREX-FixAid-720p.mp4" type="video/mp4" label='720P' res="720">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 translate="home_instructional_video_3"></h3>
        <div class="content center-align 6u 12u$(small)">
            <video id="video_3" class="video-js vjs-default-skin" poster="images/CREX-LapAid-with_catheter.jpg"
                   data-setup='{}' preload="none" controls controlsList="nodownload" fluid="true">
                <source src="videos/CREX-LapAid-with-catheter-240p.mp4" type="video/mp4" label='240P' res="240">
                <source src="videos/CREX-LapAid-with-catheter-360p.mp4" type="video/mp4" label='360P' res="360">
                <source src="videos/CREX-LapAid-with-catheter-480p.mp4" type="video/mp4" label='480P' res="480">
                <source src="videos/CREX-LapAid-with-catheter-720p.mp4" type="video/mp4" label='720P' res="720">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 translate="home_instructional_video_4"></h3>
        <div class="content center-align 6u 12u$(small)">
            <video id="video_4" class="video-js vjs-default-skin" poster="images/CREX-LapAid-without_catheter.jpg"
                   data-setup='{}' preload="none" controls controlsList="nodownload" fluid="true">
                <source src="videos/CREX-LapAid-without-catheter-240p.mp4" type="video/mp4" label='240P' res="240">
                <source src="videos/CREX-LapAid-without-catheter-360p.mp4" type="video/mp4" label='360P' res="360">
                <source src="videos/CREX-LapAid-without-catheter-480p.mp4" type="video/mp4" label='480P' res="480">
                <source src="videos/CREX-LapAid-without-catheter-720p.mp4" type="video/mp4" label='720P' res="720">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 translate="home_instructional_video_5"></h3>
        <div class="content center-align 6u 12u$(small)">
            <video id="video_5" class="video-js vjs-default-skin" poster="images/CREX-System.jpg" data-setup='{}'
                   preload="none" controls controlsList="nodownload" fluid="true">
                <source src="videos/CREX-System-240p.mp4" type="video/mp4" label='240P' res="240">
                <source src="videos/CREX-System-360p.mp4" type="video/mp4" label='360P' res="360">
                <source src="videos/CREX-System-480p.mp4" type="video/mp4" label='480P' res="480">
                <source src="videos/CREX-System-720p.mp4" type="video/mp4" label='720P' res="720">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 translate="home_instructional_video_6"></h3>
        <div class="content center-align 6u 12u$(small)">
            <video id="video_6" class="video-js vjs-default-skin" poster="images/CREX-Xray.jpg" data-setup='{}'
                   preload="none" controls controlsList="nodownload" fluid="true">
                <source src="videos/CREX-Xray-240p.mp4" type="video/mp4" label='240P' res="240">
                <source src="videos/CREX-Xray-360p.mp4" type="video/mp4" label='360P' res="360">
                <source src="videos/CREX-Xray-480p.mp4" type="video/mp4" label='480P' res="480">
                <source src="videos/CREX-Xray-720p.mp4" type="video/mp4" label='720P' res="720">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>

<script>
    var container = $('#Video .content');
    var width = container.outerWidth();
    container.height(width / 1.775 + 'px');
    container.each(function(i){
        $(this).css('background', 'url('+ $(this).find('video').attr('poster') +') no-repeat');
    });
    container.css('background-size', 'cover');

    //videojs('video_1').videoJsResolutionSwitcher();
    videojs('video_2').videoJsResolutionSwitcher();
    videojs('video_3').videoJsResolutionSwitcher();
    videojs('video_4').videoJsResolutionSwitcher();
    videojs('video_5').videoJsResolutionSwitcher();
    videojs('video_6').videoJsResolutionSwitcher();
</script>
