<!-- Clinic -->
<section id="Clinic" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/clinic.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_ClinicalTrails_1"></h2>
                    </header>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_2"></h3>
                    <p translate="home_ClinicalTrails_3"></p>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_4"></h3>
                    <p translate="home_ClinicalTrails_5"></p>

                    <div class="6u 12u$(small)">
                        <div class="image fit">
                            <img src="images/clinical-2010.jpg" alt=""/>
                        </div>
                    </div>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_6"></h3>
                    <p translate="home_ClinicalTrails_7"></p>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_8"></h3>
                    <p translate="home_ClinicalTrails_9"></p>

                    <div class="6u 12u$(small)">
                        <div class="image fit">
                            <img src="images/clinical-2014.jpg" alt=""/>
                        </div>
                    </div>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_10"></h3>
                    <p translate="home_ClinicalTrails_11"></p>

                    <hr/>

                    <h3 translate="home_ClinicalTrails_12"></h3>
                    <p translate="home_ClinicalTrails_13"></p>

                    <div class="6u 12u$(small)">
                        <div class="image fit">
                            <img src="images/clinical-2017.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Video -->
<section id="Video" class="wrapper style3">
    <div class="inner">

        <h2 translate="home_instructional_video"></h2>

        <h3 translate="home_instructional_video_1"></h3>
        <div class="content center-align">
            <video class="image fit" poster="images/CREX-RectoAid.jpg"controls controlsList="nodownload">
                <source src="images/CREX-RectoAid_240p_low.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 translate="home_instructional_video_2"></h3>
        <div class="content center-align">
            <video class="image fit" poster="images/CREX-FixAid.jpg" controls controlsList="nodownload">
                <source src="images/CREX-FixAid_240p_low.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 translate="home_instructional_video_3"></h3>
        <div class="content center-align">
            <video class="image fit" poster="images/CREX-LapAid-with_catheter.jpg" controls controlsList="nodownload">
                <source src="images/CREX-LapAid-with_catheter_240p_low.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 translate="home_instructional_video_4"></h3>
        <div class="content center-align">
            <video class="image fit" poster="images/CREX-LapAid-without_catheter.jpg" controls controlsList="nodownload">
                <source src="images/CREX-LapAid-without_catheter_240p_low.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 translate="home_instructional_video_5"></h3>
        <div class="content center-align">
            <video class="image fit" poster="images/CREX-System.jpg" controls controlsList="nodownload">
                <source src="images/CREX-System_240p_low.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 translate="home_instructional_video_6"></h3>
        <div class="content center-align">
            <video class="image fit" poster="images/CREX-Xray.jpg" controls controlsList="nodownload">
                <source src="images/CREX-Xray_240p_low.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>
