<!-- Clinic -->
<section id="Clinic" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/clinic.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_ClinicalTrails_1"></h2>
                    </header>
                    <hr/>
                    <h3 translate="home_ClinicalTrails_2"></h3>
                    <p translate="home_ClinicalTrails_3"></p>
                    <div class="image">
                        <img src="images/clinical-2010.jpg" alt=""/>
                    </div>
                    <hr/>
                    <h3 translate="home_ClinicalTrails_4"></h3>
                    <p translate="home_ClinicalTrails_5"></p>
                    <hr/>
                    <h3 translate="home_ClinicalTrails_6"></h3>
                    <p translate="home_ClinicalTrails_7"></p>
                    <hr/>
                    <h3 translate="home_ClinicalTrails_8"></h3>
                    <p translate="home_ClinicalTrails_9"></p>
                    <div class="image">
                        <img src="images/clinical-2014.jpg" alt=""/>
                    </div>
                    <hr/>
                    <h3 translate="home_ClinicalTrails_10"></h3>
                    <p translate="home_ClinicalTrails_11"></p>
                    <hr/>
                    <h3 translate="home_ClinicalTrails_12"></h3>
                    <p translate="home_ClinicalTrails_13"></p>
                    <div class="image">
                        <img src="images/clinical-2017.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Video -->
<section id="Video" class="wrapper style3">
    <div class="inner">

        <h2 translate="home_instructional_video"></h2>

        <div class="content">
            <video class="image fit" poster="images/video-poster.jpg" controls>
                <source src="images/CREX-RectoAid.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    </div>
</section>
