<!-- Board -->
<section id="Board" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2 translate="home_BoardOfDirectors_1"></h2>
        </header>

        <hr>

        <div class="flexgrid">
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/DenisV.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_BoardOfDirectors_2_title"></h3>
                </header>
                <p translate="home_BoardOfDirectors_2"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/AndersG.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_BoardOfDirectors_3_title"></h3>
                </header>
                <p translate="home_BoardOfDirectors_3"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/JonasG.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_BoardOfDirectors_4_title"></h3>
                </header>
                <p translate="home_BoardOfDirectors_4"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/HansS.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_BoardOfDirectors_5_title"></h3>
                </header>
                <p translate="home_BoardOfDirectors_5"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/LarsP.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_BoardOfDirectors_6_title"></h3>
                </header>
                <p translate="home_BoardOfDirectors_6"></p>
            </div>
        </div>
    </div>
</section>

<!-- Organization -->
<section id="Organization" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/Orgn.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_Orgnisation_1"></h2>
                        <p translate="home_Orgnisation_2"></p>
                    </header>
                    <hr/>


                    <div class="image fit" style="width: 70%;margin: auto">
                        <img src="images/organization.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Ownership -->
<section id="Ownership" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/investment.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_Ownership_1"></h2>
                    </header>
                    <hr/>

                    <h4 translate="home_Ownership_2"></h4>
                    <div class="image fit" style="width: 50%;margin: auto">
                        <img src="images/ownership_table.jpg" alt=""/>
                    </div>

                    <br>

                    <ul>
                        <li translate="home_Ownership_3"></li>
                        <li translate="home_Ownership_4"></li>
                        <li translate="home_Ownership_5"></li>
                        <li translate="home_Ownership_6"></li>
                        <li translate="home_Ownership_7"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
