<!-- Contact -->
<section id="Contact" class="wrapper style2">
    <div class="inner">

        <div class="image fit">
            <img src="images/contact.jpg" alt=""/>
        </div>

        <div class="6u 12u$(medium)">
            <div class="box" style="height: 300px">

                <div class="content">
                    <span class="image right" >
                        <img src="images/AndersG.jpg" alt=""/>
                    </span>
                <h4>Anders Grönberg</h4>
                <pre>
CEO, D&D, Senior Surgeon
Phone: +46 46 540 86 56
Mobile: +46(0)708-37 86 26
anders@carponovum.com
                    </pre>
                </div>
            </div>
        </div>
    </div>
</section>
