<!-- Contact -->
<section id="Contact" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2 translate="contact_title"></h2>

            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/office.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_office_1"></h3>
                </header>
                    <h4 translate="contact_office_2"></h4>
                    <h4 translate="contact_office_3"></h4>
                    <h4 translate="contact_office_4"></h4>
                    <h4 ng-href="{{mailLink}}" target="_blank" translate="contact_office_5"></h4>
            </div>
        </header>

        <hr>

        <div class="flexgrid">
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/AndersG.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_1"></h3>
                </header>
                <p translate="contact_2"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/JonasG.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_3"></h3>
                </header>
                <p translate="contact_4"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/DenisV.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_5"></h3>
                </header>
                <p translate="contact_6"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/HaraldC.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_7"></h3>
                </header>
                <p translate="contact_8"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/LarsP.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_9"></h3>
                </header>
                <p translate="contact_10"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/BengtS.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_11"></h3>
                </header>
                <p translate="contact_12"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/HansS.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_13"></h3>
                </header>
                <p translate="contact_14"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/OlofS.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_15"></h3>
                </header>
                <p translate="contact_16"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/JorgenS.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_17"></h3>
                </header>
                <p translate="contact_18"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/PontusG.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_19"></h3>
                </header>
                <p translate="contact_20"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/RolandN.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_21"></h3>
                </header>
                <p translate="contact_22"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/MattiasG.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_23"></h3>
                </header>
                <p translate="contact_24"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/MariaD.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_25"></h3>
                </header>
                <p translate="contact_26"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/JennyB.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_27"></h3>
                </header>
                <p translate="contact_28"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/SongenZ.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_29"></h3>
                </header>
                <p translate="contact_30"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/SuZ.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_31"></h3>
                </header>
                <p translate="contact_32"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/HuijieL.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_33"></h3>
                </header>
                <p translate="contact_34"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/BohuaL.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="contact_35"></h3>
                </header>
                <p translate="contact_36"></p>
            </div>
        </div>
    </div>
</section>
