<!-- About -->
<section id="About" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/CarpoNovum_80x20.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_about_us"></h2>
                        <p translate="home_about_us_2"></p>
                    </header>
                    <hr/>
                    <p translate="home_carponovum_1"></p>
                    <p translate="home_carponovum_2"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product -->
<section id="Market" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2 translate="home_carponovum_3_title"></h2>
            <p style="white-space: pre-line" translate="home_carponovum_3"></p>
        </header>
        <ul class="actions" style="text-align: center;">
            <li><a href="#!/Technology/Product" class="button alt" translate="home_carponovum_3_suffix" ></a></li>
        </ul>
    </div>
</section>

<!-- Compnay -->
<section id="Company" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

            <div>
                <div class="box" style="height: 100%;">
                    <div class="image fit">
                        <img src="images/company_hist.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <h2 translate="home_company_1"></h2>
                            <p>COMPANY HISTORY</p>
                        </header>
                        <hr/>
                        <p translate="home_company_2"></p>
                        <p translate="home_company_3"></p>
                    </div>
                </div>
            </div>

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="images/company_vision.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <h2 translate="home_vision_1"></h2>
                            <p>COMPANY VISION</p>
                        </header>
                        <hr/>
                        <p translate="home_vision_2"></p>
                        <ul>
                            <li translate="home_vision_3"></li>
                            <li translate="home_vision_4"></li>
                            <li translate="home_vision_5"></li>
                            <li translate="home_vision_6"></li>
                            <li translate="home_vision_7"></li>
                            <li translate="home_vision_8"></li>
                            <li translate="home_vision_9"></li>
                            <li translate="home_vision_10"></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Management -->
<section id="Management" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2 translate="home_ManagementTeam_1"></h2>
        </header>

        <hr>

        <div class="flexgrid">
            <div class="double-item-layout">
                <header>
                    <div class="image fit management_profile">
                        <img src="images/AndersG.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_ManagementTeam_2_title"></h3>
                </header>
                <p translate="home_ManagementTeam_2"></p>
            </div>
            <div class="double-item-layout">
                <header>
                    <div class="image fit management_profile">
                        <img src="images/JorenS.jpg" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_ManagementTeam_3_title"></h3>
                </header>
                <p translate="home_ManagementTeam_3"></p>
            </div>
        </div>
    </div>
</section>

<!-- Partners -->
<section id="Parnters" class="wrapper">
    <div class="inner">

        <header class="align-center">
            <h2 translate="home_Partners_1"></h2>
            <p translate="home_Partners_2" style="color:#999999;"></p>
            <hr>
        </header>

        <div class="flexgrid ">
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/production-3.png" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_Partners_4"></h3>
                </header>
                <p translate="home_Partners_5"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/production-6.png" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_Partners_7"></h3>
                </header>
                <p translate="home_Partners_8"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/production-5.png" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_Partners_9"></h3>
                </header>
                <p translate="home_Partners_10"></p>
            </div>
            <div>
                <header>
                    <div class="image fit management_profile">
                        <img src="images/production-7.png" alt=""/>
                    </div>
                    <br>
                    <h3 style="white-space: pre-line;" translate="home_Partners_11"></h3>
                </header>
                <p translate="home_Partners_12"></p>
            </div>
        </div>
    </div>
</section>