<!-- Technology -->
<section id="Technology" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/technology.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_TechnologyAndProducts_1"></h2>
                    </header>
                    <hr/>
                    <p translate="home_TechnologyAndProducts_2"></p>
                    <p translate="home_TechnologyAndProducts_3"></p>
                    <p translate="home_TechnologyAndProducts_4"></p>
                    <p translate="home_TechnologyAndProducts_5"></p>
                    <p translate="home_TechnologyAndProducts_6"></p>
                    <p translate="home_TechnologyAndProducts_7"></p>
                    <p translate="home_TechnologyAndProducts_8"></p>
                    <p translate="home_TechnologyAndProducts_9"></p>

                    <div class="image fit" style="width: 50%;margin: auto">
                        <img src="images/technology_table_1.png" alt=""/>
                    </div>
                    <br>

                    <p translate="home_TechnologyAndProducts_10"></p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Surgery -->
<section id="Surgery" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/surgery.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_SurgicalProcedure_1"></h2>
                    </header>
                    <hr/>
                    <p translate="home_SurgicalProcedure_2"></p>
                    <p translate="home_SurgicalProcedure_3"></p>
                    <p translate="home_SurgicalProcedure_4"></p>
                    <p translate="home_SurgicalProcedure_5"></p>
                    <h4>CREX</h4>
                    <p translate="home_SurgicalProcedure_6"></p>
                    <h4>CREX FixAid</h4>
                    <p translate="home_SurgicalProcedure_7"></p>
                    <h4>RapAn</h4>
                    <p translate="home_SurgicalProcedure_8"></p>
                    <h4>FixAid</h4>
                    <p translate="home_SurgicalProcedure_9"></p>
                    <h4>LapAid</h4>
                    <p translate="home_SurgicalProcedure_10"></p>
                    <h4>RectoAid</h4>
                    <p translate="home_SurgicalProcedure_11"></p>

                    <hr>
                    <ul class="actions">
                        <li><a href="#" class="button alt" translate="home_SurgicalProcedure_12"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product -->
<section id="Product" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/Products.jpg" alt=""/>
                </div>

                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_Products_1"></h2>
                        <p translate="home_Products_2"></p>
                    </header>

                    <hr>

                    <div class="flexgrid">
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/RapAn.jpg" alt=""/>
                                </div>
                                <h2>RapAn®</h2>
                            </header>
                            <p translate="home_Products_3"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/FixAid-Hemsida.jpg" alt=""/>
                                </div>
                                <h2>FixAid®</h2>
                            </header>
                            <p translate="home_Products_4"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/FixAid-No-cath.jpg" alt=""/>
                                </div>
                                <h2>FixAid no cath®</h2>
                            </header>
                            <p translate="home_Products_5"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/LapAid.jpg" alt=""/>
                                </div>
                                <h2>LapAid®</h2>
                            </header>
                            <p translate="home_Products_6"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/LapAn.jpg" alt=""/>
                                </div>
                                <h2>LapAn®</h2>
                            </header>
                            <p translate="home_Products_7"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/RectoAid.jpg" alt=""/>
                                </div>
                                <h2>RectoAid®</h2>
                            </header>
                            <p translate="home_Products_10"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/RectoAn.jpg" alt=""/>
                                </div>
                                <h2>RectoAn®</h2>
                            </header>
                            <p translate="home_Products_11"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/DMCH.jpg" alt=""/>
                                </div>
                                <h2>DMCH®</h2>
                            </header>
                            <p translate="home_Products_12"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/DMH.jpg" alt=""/>
                                </div>
                                <h2>DMH®</h2>
                            </header>
                            <p translate="home_Products_13"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/HealGuard.jpg" alt=""/>
                                </div>
                                <h2>HealGuard</h2>
                            </header>
                            <p translate="home_Products_14"></p>
                        </div>
                        <div>
                            <header>
                                <div class="image fit">
                                    <img src="images/TestDevice.jpg" alt=""/>
                                </div>
                                <h2>Test Device</h2>
                            </header>
                            <p translate="home_Products_15"></p>
                        </div>
                    </div>

                    <div class="image fit">
                        <img src="images/CREX_family.jpg" alt=""/>
                    </div>

                    <header class="align-center">
                        <h2>CREX Family</h2>
                    </header>

                    <p translate="home_Products_16"></p>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- Quality -->
<section id="Quality" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/quality.jpeg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2 translate="home_QualityAndRegulatory_1"></h2>
                        <p></p>
                        <p translate="home_QualityAndRegulatory_2"></p>
                        <p translate="home_QualityAndRegulatory_3"></p>
                    </header>
                    <hr/>
                    <h4 translate="home_QualityPolicy_1"></h4>
                    <ul>
                        <li translate="home_QualityPolicy_2"></li>
                        <li translate="home_QualityPolicy_3"></li>
                        <li translate="home_QualityPolicy_4"></li>
                        <li translate="home_QualityPolicy_5"></li>
                        <li translate="home_QualityPolicy_6"></li>
                        <li translate="home_QualityPolicy_7"></li>
                    </ul>


                    <hr>
                    <h4 translate="home_QualityPolicy_8"></h4>
                    <ul>
                        <li translate="home_QualityPolicy_9"></li>
                        <li translate="home_QualityPolicy_10"></li>
                        <li translate="home_QualityPolicy_11"></
                        >
                        <li translate="home_QualityPolicy_12"></li>
                        <li translate="home_QualityPolicy_13"></li>
                        <li translate="home_QualityPolicy_14"></li>
                        <li translate="home_QualityPolicy_15"></li>
                        <li translate="home_QualityPolicy_16"></li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</section>